<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>Iris Classification</title>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<body>
<div class="container">

<form id="submit_params" method="POST" action="http://127.0.0.1:5000/">
<div class="form-group">
<table class="table">
    <tbody><tr>
        <td width="300px"><p style="text-align:center"></p><h1><br>Iris Classification</h1><p></p></td>

        <td width="200px"><p style="text-align:center"></p><h1>Iris classification base on KNN </h1><p></p></td>
    </tr>
    <tr>
        <td>
            <table class="table" border="0">
                <tbody><tr>
                    <td><label for="plot">Data Plot</label></td>
                    <td>
                     <select class="selectpicker" name="selected_plot">
				          <option value="Pairplot" selected="">Pairplot</option>
				          <option>Andrews Curves</option>
				          <option>Pairplot</option>
				          <option>Linear regression</option>
				      </select>
					</td>
                </tr>
                <tr>
                    <td><label for="Width">SepalWidth</label></td>
                    <td><input type="number" class="form-control" id="SepalWidth" placeholder="Enter fare" name="SepalWidth" value="3.3">
                    </td>
                </tr>
                
                
                
                
                
                
                

          <tr>
                    <td><label for="Length">SepalLength</label></td>
                    <td><input type="number" class="form-control" id="SepalLength" placeholder="Enter fare" name="SepalLength" value="3.3">
                    </td>
                </tr><tr>
                    <td><label for="p">PetalWidth</label></td>
                    <td><input type="number" class="form-control" id="PetalWidth" placeholder="Enter fare" name="PetalWidth" value="3.3">
                    </td>
                </tr><tr>
                    <td><label for="p">PetalLength</label></td>
                    <td><input type="number" class="form-control" id="PetalLength" placeholder="Enter fare" name="PetalLength" value="3.3">
                    </td>
                </tr></tbody></table>

        </td>

         <td>{{model_results}}<BR>{{model_plot}}
        </td>
    
    </tr>
    <tr><td><button class="btn btn-default" type="submit" style="width: 100px; height: 30px;">Classify</button></td><td></td><td></td>
    </tr><tr>
</tr></tbody></table>
</div>
</form>

</div>

</body></html>